html,body{
	overflow:hidden;
	margin:0;
	padding:0;
}
body{
	font:12px arial,sans-serif;
	background:#fff;
	margin:0;
	color:#333;
	line-height:18px
}

a,input,select{
	font-size:12px
}
input{
	outline:0
}
form,p,ol,ul,li,dl,dt,dd,h1,h2,h3,h4{
	margin:0;
	padding:0
}
ul,ol{
	list-style:none
}
img,table{
	border:0
}
a{
	color:#0084c9;
	text-decoration:underline;
	outline:0
}
.c{
	clear:both;
	overflow:hidden
}
#header{
	background:#fff;
	height:77px;
	border-bottom:3px solid #29a3e2
}
#headerbody,#wrap{
	/*width:960px;*/
	width:98%;
	margin:0 auto
}
#menu{
	text-align:right;
	padding-right:10px;
	padding-top:3px;
	color:#a2a2a2;
	visibility:hidden
}
#menu .line{
	margin:0 4px
}
#logo{
	width:217px;
	height:45px
}
#logo img{
	background:url('../images/bg.gif') no-repeat;
	width:217px;
	height:45px
}
.step{
	width:960px;
	height:50px;
	background:url('../images/bg.gif') no-repeat 0 -46px;
}
.w{
	border:1px solid #c4e0f6;
	background-color:#fff;
	margin-top:5px;
	display:none;
}
.wl{
	width:430px;
	border-right:1px solid #c3dff7;
	padding:0 3px;
	height:416px
}
.wr{
	position:absolute;
	right:23px;
	top:86px;
	height:415px
}
.t1{
	height:25px;
	border-bottom:1px solid #29a3e2;
	font-weight:bold;
	color:#035795;
	padding:5px 0 0 8px
}
.t2{
	position:relative;
	height:28px;
	background-color:#e4f2ff;
	color:#045594;
}
.t2 b{
	float:left;
	padding-left:9px;
	font-weight:bold;
	padding-top:3px
}
.t2 div{
	float:right;
	overflow:hidden
}
.t2 div img{
	width:20px;
	height:23px;
	overflow:hidden
}
.t2 .icell{
	color:#999;
	padding-right:10px
}
.t2 .icell span{
	float:left;
	padding-top:4px
}
.t2 .rt{
	text-decoration:underline;
	color:#0082cb;
	margin-left:20px;
	display:inline;
	cursor:pointer
}
.t2 .rtn{
	color:#999;
	margin-left:20px;
	display:inline
}
.t2 .icell img{
	float:left;
	position:relative;
	top:-3px;
	margin:0 5px 0 10px;
	display:inline
}
.ico1{
	background:url('../images/bg.gif') no-repeat -22px -99px
}
.ico2{
	background:url('../images/bg.gif') no-repeat 0px -99px
}
.tline{
	position:relative;
	background-color:#c5dff6;
	height:1px;
	overflow:hidden;
}
.text{
	border:1px solid #d2d5ca;
	height:18px;
	color:#999;
	background-color:#fff
}
#mapbox{
	position:relative;
	height:384px;
}
.closeLab{
	width:8px;
	height:8px;
	overflow:hidden;
	background:url('../images/bg.gif') no-repeat -166px -103px;
	cursor:pointer
}
.other{
	margin-left:5px;
	margin-top:10px;
	height:100px
}
.other div{
	margin-bottom:5px;
	color:#061a31;
}
.other textarea{
	width:150px;
	height:50px;
	border:1px solid #c4c7bd;
	font-size:12px;
	margin-left:20px;
	background-color:#fff
}
.yan{
	margin-top:20px;
	margin-left:5px
}
.yan span{
	float:left
}
.yan input{
	width:78px
}
.sub{
	margin-top:20px
}
.bt{
	width:80px;
	padding:5px 0 10px 0;
	margin-left:10px;
	background:url('../images/bg.gif') no-repeat 0 -123px;
	font-weight:bold;
	cursor:pointer;
	color:#fff;
	border:none;
}
.opinfo{
	text-align:right;
	padding-right:12px;
	padding-top:5px
}
.opinfo span{
	text-decoration:underline;
	color:#0082cb;
	margin-left:15px;
	cursor:pointer
}
.opinfo b{
	font-weight:normal;
	color:#999;
	margin-left:15px
}
.radiocell{
	margin-top:3px;
	padding:2px 5px 4px 0
}
.radiocell label{
	color:#061a31;
}
.on{
	background:#f3f3f5
}
.poiInfo{
	width:160px;
	vertical-align:middle
}
#winfo{
	padding-top:3px
}
.cityIn{
	margin-left:20px;
	margin-top:3px
}
.dialog{
	width:388px;
	height:258px;
	background-color:#fff;
	border:1px solid #CCC
}
.dialog .tit{
	background:url('../images/bg.gif') no-repeat 0 -154px;
	height:31px;
	overflow:hidden
}
.dialog .tit span{
	width:12px;
	height:12px;
	background:url('../images/bg.gif') no-repeat 0 -187px;
	float:right;
	display:inline;
	margin:8px 10px 0 0;
	cursor:pointer
}
.dialog .tit div{
	float:left;
	padding-top:5px;
	color:#035796;
	font-weight:bold;
	padding-left:10px
}
.dialog .suc{
	background:url('../images/bg.gif') no-repeat -917px -112px;
	padding-left:63px;
	margin-left:65px;
	height:50px;
	padding-top:17px;
	font-weight:bold;
	font-size:14px;
	margin-top:40px
}
.dialog .bt{
	margin:0 auto
}
.moding{
	color:#333
}
#imgVer{
	border:1px solid #d5d5d5;
	height:20px;
	margin-left:5px;
	vertical-align:middle;
	width:69px;
	overflow:hidden
}
#changeimg{
	cursor:pointer;
	color:#0082cb;
	font-weight:normal;
	text-decoration:underline
}
/*#submits{
	margin:0 auto
}*/
.info{
	color:red
}
#sbstate{
	padding-left:45px;
	padding-top:3px
}
#yanwr{
	text-align:center;
	padding-top:10px
}
#addrwr{
	padding-left:74px;
	padding-top:3px
}
#dinvweiwr{
	text-align:right;
	padding-right:3px;
	padding-top:3px
}
.tangram-dialog-title,.tangram-dialog-footer{
	display:none
}
