html{
	background: #fff;
}
html,body{
	width:100%;
	padding:0;
	margin:0;
}
.wrapper{
	width:100%;
	height:100%;
}
.stscenario-box  div.stscenario-box-title{
	margin-top:5px;
	padding-left:10px;
	height:34px;
	line-height:28px;
	background:url("../images/title_bg.png") repeat-x;
}
.stscenario-box-title span,a{
	color:#000;
	font-size:13px;
	font-family:"新宋体";
}
.stscenario-box-title span.now-address{
	padding-left:15px;
	padding-top:2px;
	background:url("../images/title.png") left center no-repeat;
}
.stscenario-box-headline{
	margin-left:20px;
	padding:10px 0;
	border-bottom:1px solid #cbcbcb;
}
.stscenario-box-headline span{
	color:#333333;
	font-weight:bold;
	font-size:14px;
	font-family:"微软雅黑";
}
.stscenario-box-table{
	position:relative;
	padding:0 20px;
}
.stscenario-box-table table{	
	width:100%;
	table-layout:fixed;
}
.stscenario-box-table .list{
	border-collapse:collapse;
	border:1px solid #6790b7;
}
.stscenario-box-table .list caption{
	padding:16px 0;
}
.stscenario-box-table .list th{
	height:28px;
	line-height:28px;
	background:#1e5c97;
	border:1px solid #3888e9;
}
.stscenario-box-table .list td{
	height:28px;
	line-height:28px;
	text-align:center;
	color:#3272a6;
	border:1px solid #6790b7;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.stscenario-box-table .list tfoot td{
	height:28px;
	line-height:28px;
	text-algin:left;
}
.stscenario-box-table .list tfoot td span{
	padding:5px;
	border:1px solid #e7ecf0;
}
.stscenario-box-table .list tfoot td span.now-page{
	color:#000;
	font-weight:bold;
}
.stscenario-box-table .list .odd td{
	background:#fff;
}
.table td{
	padding:8px 0;
	color:#0b467a;
	vertical-align:middle;
}
.stscenario-box-table table .label,.stscenario-box-table table .tlabel{
	width:8%;
}
.stscenario-box-table .table .tlabel{
	vertical-align:top;
}
.label .btn{
	margin-right:20px;
}
.createstscenario{
	position:relative;
	float:left;
	top:2px;
	top:-1px;
	width:94px;
	height:32px;
	line-height:32px;
	color:#666666;
	font-size:14px;
	font-family:"新宋体";
	border:none;
	background: url("../../../images/btn.png") center center no-repeat;
	cursor:pointer;
}
.searchbtn{
	margin-left:-4px;
}

.fleft .{
	margin-right:20px;
}

.normal-text{
	color:#333;
	padding:0 4px;
}
p.normal-text{text-indent:2em;}
a.modify-action{text-decoration:underline;}

.button{
	height:32px;
	width:60px;
}
.btn-short{
	width:62px;
	height:32px;
	line-height:32px;
	margin-left:10px;
	color:#fff;
	border:none;
	background: url("../images/btn_short.png") center center no-repeat;
	cursor:pointer;
}

.select{
	color:#0670bb;
}

.no-border-input{
	border-left:0px;
	border-top:0px;
	border-right:0px;
	border-bottom:1px;
	background-color: #F0F4F7;
}

.no-border-textarea{
	overflow:auto; 
	background-attachment:fixed;
	background-repeat:no-repeat;   
	border-style:solid;
	border-color:#FFFFFF;
	background-color: #F0F4F7;
}
.select{
	float:right;
	width:120px;
}
.fright{
	float:right;
	margin-right:10px;
}
.fright-content{
	float:left;
	height:28px;
	line-height:30px;
	width:70px;
	padding:1px 0 2px 10px;
	color:#000;
	border:1px solid #6790b7;
	border-right:none;
}
.select-button{
	position:relative;
	left:-2px;
	height:34px;
	width:36px;
	padding-top:2px;
	border:none;
	background:url("../images/select_button.png") no-repeat;
}
.fright-content-list{
	position:absolute;
	top:50px;
	width:112px;
	*margin-left:-123px;	
	color:#000;
	border:1px solid #467fab;
	border-top:none;
	background:#fff;
	display:none;
}
.fright-content-list li{
	padding:5px 0;
	cursor:pointer;
	border-bottom:1px dotted #467fab;
}
.fright-content-list li.last{
	border-bottom:none;
}

.content{
	padding:10px;
	color:#000000;
}
.downbtn-container{
	position:relative;
	z-index:20;
	cursor:pointer;
}
.downbtn-container .downbtn-list{
	position:absolute;
	width:100%;
	left:0;top:0px;
	display:none;
	z-index:200;
}
.downbtn-container.open{
	z-index:21;
}
.downbtn-handler{
	padding:6px 0;
}
.downbtn-container.open .downbtn-list{
	display:block;
	text-align:left;
	z-index:201;
}
.downbtn-container.open .downbtn-handler{
	visibility:hidden;
}
.downbtn-list-item{
	float:left;
	height:22px;
	line-height:22px;
	z-index:201;
}
.downbtn-list-item.last{
	border-bottom:none;
}
.downbtn-list-item span{
	float:left;
	*float:none;
	*zoom:1;
}
.downbtn-handler .icon{
	padding:0 10px;
}
.downbtn-list-item .icon,.downbtn-handler .icon{
	width:16px;
	height:16px;
	margin:2px 4px;
	background-image:url("../images/stscenario_icon.png");
	background-repeat:no-repeat;
	cursor:pointer;
}
.view .icon{
	background-position:-159px 0;
}

.operate .icon{
	background-position:-176px 0;
}
.add-scen .icon{
	background-position:-144px 0;
}
.add-serv .icon{
	background-position:-127px 0;
}
.add-prserv .icon{
	background-position:-111px 0;
}
.map-container{
	width:100%;
	height:300px;
	margin-bottom:4px;
	background:#eee;
}
.stscenario-box-title .button{
	float:right;
	width:100px;
	margin-top:-10px;
	margin-right:10px;
}


.config-content{
	position:relative;
 	left:30px;
}

.config-content-item{
	padding:4px 0;
	margin-top:20px;
}
.config-content-item .config-content-item-title{
	float:left;
	height:22px;
	line-height:22px;
	margin:0 4px;
	color:#0b467a;
}
.config-content-item .cn-ipt{
	width:400px;
	height:14px;
	margin-left:64px;
	padding:4px;
	border:1px solid #ccc;
	background:url("../images/input_shadow.png") no-repeat;
}
.config-content-item .select{
	float:left;
	width:158px;
	height:22px;
	margin-left:64px;
	border:1px solid #ccc;
	*border:none;
	background:url("../images/input_shadow.png") no-repeat;
}
.config-content-item .select select{
	width:156px;
	border:none;
	background:none;
}
.config-content-item textarea{
	border:1px solid #ccc;
	margin-left:64px;
	background:url("../images/input_shadow.png") no-repeat;
}
.config-sub{
	position:relative;
 	left:125px;
}
.config-sub_{
	position:relative;
 	left:157px;
}
.char2{
	padding: 0 1em;
}
/**创建方案样式  end 周云**/

.tree-container{
	width:200px;
	height:300px;
	overflow:hidden;
	overflow-y:auto;
}

.tree-panel{
	height:100%;
	border:1px solid #286aa0;
}
.tree-panel .tree-title{
	height:33px;
	line-height:33px;
	border:none;
	background:url(../images/tree_title_bg.jpg);
}
.tree-panel .tree-innertitle{background:none;}
.tree-container{
	overflow:hidden;
	overflow-y:auto;
	width:260px;
}
